<form [formGroup]="warehouseForm" (ngSubmit)="onSubmit()">
    <h2>Warehouse Management Form</h2>
    <label>Warehouse ID:</label>
    <input formControlName="warehouseId"><br>
    <div *ngIf="warehouseForm.get('warehouseId')?.errors?.['required']">
        <small>Warehouse ID is required.</small>
    </div>
    <label>Supplier ID:</label>
    <div *ngIf="warehouseForm.get('supplierId')?.invalid && warehouseForm.get('supplierId')?.touched">
        <small *ngIf="warehouseForm.get('supplierId')?.errors?.['min']">Supplier ID must be greater than 0.</small>
    </div><br>
    <label>Warehouse Name:</label>
    <input formControlName="warehouseName">
    <div *ngIf="warehouseForm.get('warehouseName')?.invalid && warehouseForm.get('warehouseName')?.touched">
        <small>Warehouse Name is required.</small>
    </div><br>
    <label>Location:</label>
    <input formControlName="location"><br>

    <label>Capacity:</label>
    <input formControlName="capacity">
    <div *ngIf="warehouseForm.get('capacity')?.invalid && warehouseForm.get('capacity')?.touched">
        <small *ngIf="warehouseForm.get('capacity')?.errors?.['required']">Capacity is required.</small>
        <small *ngIf="warehouseForm.get('capacity')?.errors?.[min]">Capacity must be non-negative.</small>
    </div><br>
    <button type="submit" [disabled]="warehouseForm.invalid">Submit</button>

</form>
