<form [formGroup]="productForm">
    <label for="productID">Product ID:</label>
    <input id="productID" formControlName="productID" />
    <label for="warehouseID">Warehouse ID:</label>
    <input id="warehouseID" formControlName="warehouseID" />
    <label for="productName">Product Name:</label>
    <input id="productName" formControlName="productName" />
    <label for="productDescription">Product Description:</label>
    <input id="productDescription" formControlName="productDescription" />
    <label for="quantity">Quantity:</label>
    <input id="quantity" formControlName="quantity" />
    <label for="price">Price:</label>
    <input id="price" formControlName="price"/>
</form>